:root {
  --black-color: 333333;
  --grey-color: #7B7D7B;
}

#footer {
  border-top: 1px black solid;
  padding: 20px 0;
}

.footer__content {
  display: flex;
  align-items: center;
}

.footer__content ul {
  list-style-type: none;
}

.footer__content li {
  float: right;
}

.footer__content li a {
  display: block;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  color: var(--grey-color);
}

.footer__content li a:hover {
  color: var(--black-color);
}

.footer__links {
  margin-left: auto;
}

.emoji {
  margin: -5px 2px 0 2px;
  width: 24px;
  padding: 2px;
  transition: all .3s cubic-bezier(.05,.03,.35,1);
}

.footer__contact:hover .emoji {
  transform: rotate(20deg);
}