:root {
  --black-color: 333333;
  --grey-color: #7B7D7B;
  --font-big: 24px;
  --font-med: 15px;
  --font-small: 14px;
}

#top-section {
  margin-top: 15vh;
}

.header-divider {
  border-top: 1px black solid;
  margin-top: 10px;
  padding-bottom: 20px
}

.heading-big {
  font-size: var(--font-big);
}

.heading-med {
  font-size: var(--font-med);
}

.work-exp__content .row {
  padding: 15px 0;
}

#footer {
  border-top: 1px black solid;
  padding: 20px 0;
}

.footer__content {
  display: flex;
  align-items: center;
}

.footer__content ul {
  list-style-type: none;
}

.footer__content li {
  float: right;
}

.footer__content li a {
  display: block;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  color: var(--grey-color);
}

.footer__content li a:hover {
  color: var(--black-color);
}

.footer__links {
  margin-left: auto;
}

.emoji {
  margin: -5px 2px 0 2px;
  padding: 2px;
  transition: all .3s cubic-bezier(.05,.03,.35,1);
}

.emoji--small{
  width: 24px;
}

.emoji--large{
  width: 30px;
}

.footer__contact:hover .emoji, #wave:hover {
  transform: rotate(20deg);
}