@import url("https://rsms.me/inter/inter-ui.css");
@font-face {
  font-family: "Canela-Light";
  src: 
  url("/fonts/Canela-Light.woff") format("woff")
}

:root {
  --black-color: #000000;
  --grey-color: #7B7D7B;
  --light-grey-color: #E6E6E6;
  --font-big: 46px;
  --font-med: 34px;
  --font-small: 14px;
}

main {
  font-family: "Inter UI", sans-serif;
  font-weight: 300;
  padding-bottom: 90px;
  font-size: var(--font-small);
  color: var(--black-color);
}

.branding {
  font-size: 18px;
  font-family: "Canela-Light", sans-serif;
}

#top-section {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Canela-Light", sans-serif;
  color: var(--black-color);
  margin-top: -50px;
}

.header-divider {
  border-top: 1px solid;
  border-color: var(--grey-color);
  margin-top: 10px;
}

.heading-big {
  font-size: 3vw;
}

.heading-med {
  font-size: var(--font-med);
  font-family: "Canela-Light", sans-serif;
}

.heading-small {
  font-size: var(--font-small);
}

.projects__content .row, .work-exp__content .row {
  padding-top: 24px;
}

.trademark {
  font-size: 10px;
  color: var(--grey-color);
  text-align: center;
}

footer {
  background-color: white;
}

.footer__content {
  border-top: 1px solid;
  border-color: var(--grey-color);
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  line-height: 40px;
}

.footer__content ul {
  list-style-type: none;
}

.footer__content li {
  float: right;
}

.footer__content li a {
  display: block;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  color: var(--blue-color);
}

.footer__content li a:hover {
  color: var(--black-color);
}

.footer__links {
  margin-left: auto;
}

.emoji {
  margin: -5px 2px 0 2px;
  padding: 2px;
  transition: all .3s cubic-bezier(.05,.03,.35,1);
}

.emoji--small{
  width: 24px;
}

.emoji--large{
  width: 3vw;
}

.footer__contact:hover .emoji, #wave:hover {
  transform: rotate(20deg);
}